.navbar-header{
  background-color: #fff;
  .header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    view{
      height: 20px;
      line-height: 20px;
    }
  }
  .header-position{
    font-size: 12px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    .inner-box{
      box-sizing: border-box;
      width: fit-content;
      padding: 0 12px;
      height: 26px;
      line-height: 26px;
      border-radius: 13px;
      color:#fff;
      background-color: rgba(255, 255, 255, .2);
    }
    .inner-box-scroll{
      box-sizing: border-box;
      width: fit-content;
      padding: 0 12px;
      height: 26px;
      line-height: 22px;
      border-radius: 11px;
      border:2px solid #F2F3F7;
      background-color: #fff;
    }
    .icon-weizhi{
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
    }
  }
}
.container{
  padding: 0;
  height: 667px;
  background-color: pink;
  position: relative;
  .swiper-section{
    width: 100%;
    height: 445rpx;
    .swiper-image{
      width: 750rpx;
      height: 485rpx;
    }
  }
  .content{
    position: absolute;
    top: 420rpx;
    left: 0;
    width: 100%;
    min-height: 600rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    background-color: #f5f5f5;
    .content-top{
      margin: 0 30rpx;
      width: 726rpx;
      .vant-tab{
        .van-tabs__nav{
          background-color: #f5f5f5 !important;
          border-radius: 15px 15px 0 0;
          overflow: hidden;
        }
        .van-tabs__wrap{
          border-radius: 15px 15px 0 0;
          overflow: hidden;
        }
        .van-tab{
          font-size: 32rpx;
        }
        .van-tab--active{ 
          font-weight: bold;
        }
      }
    }
    .content-bottom{
      margin: 20rpx 30rpx;
      width: 726rpx;
      height: 100px;
      background-color: #fff;
      border-radius: 15px;
    }
  }
}